@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

a {
    display:inline-block;
}

.header {
    margin: 40px 0px;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1520px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.logo_btn {
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
}

.cta_profile_btn {
    text-decoration: none;
    padding: 8px 16px;
    border: solid white 1px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    transition: 300ms;
}

.cta_profile_btn:hover {
    color: black;
    background-color: white;
    transition: 300ms;
}

.content_container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}

.about_h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    margin-top: 120px;
    margin-bottom: 40px;
}

.about_text {
    font-size: 18px;
    line-height: 32px;
    max-width: 700px;
    margin-bottom: 40px;
}

.works_btn {
    font-size: 16px;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 14px;
    line-height: 24px;
    transition: 300ms;
}

.works_btn:hover {
    transition: 300ms;
    background-color: transparent;
    color: white;
    outline: 1px solid white;
}

hr {
    background-color: #7F7F7F;
    height:2px;
    border-radius: 10px;
    width: 100%;
    margin: 80px 0px 80px 0px;
    border: 0px;
}

.project {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    width: 100%;
}

.left_side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.project_name {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
}

.project_name > a {
    text-decoration: none;
}

.project_description {
    font-size: 18px;
    line-height: 27px;
    color: #CCCCCC;
}

.project_btns {
    display: flex;
    max-height: 40px;
}

.more_btn {
    text-decoration: none;
    margin-right: 20px;
    padding: 8px 16px;
    background-color: white;
    color: black;
    border-radius: 14px;
    font-size: 16px;
    line-height: 24px;
    transition: 300ms;
}

.more_btn:hover {
    transition: 300ms;
    background-color: transparent;
    color: white;
    outline: 1px solid white;
}

.preview_btn {
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 14px;
    font-size: 16px;
    line-height: 24px;
    transition: 300ms;
}

.preview_btn:hover {
    color: black;
    background-color: white;
    transition: 300ms;
}

.image_link {
    max-height: 280px;
}

.project_inverted {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    width: 100%;
}

.right_side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.footer {
    position: relative;
    height: 100px;
    background-color: #131313;
    margin-top: 80px;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    background-color: #131313;
}

.footer_container > p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 38px;
    margin-bottom: 38px;
}

.footer_profile_btn {
    text-decoration: none;
}

.project_main {
    margin-top: 120px;
}

.project_name_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project_name_page {
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
}

.name_btns {
    display: flex;
    gap: 20px;
}

.github_btn {
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 14px;
    font-size: 16px;
    line-height: 24px;
}

.live_preview_btn {
    text-decoration: none;
    padding: 8px 16px;
    background-color: white;
    color: black;
    border-radius: 14px;
    font-size: 16px;
    line-height: 24px;
}

.project_description_page {
    font-size: 18px;
    line-height: 32px;
    max-width: 1120px;
    color: white;
}

.project_description > span {
    color: #CCCCCC;
}

.project_section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.projects_images {
    display: flex;
    flex-direction: column;
    gap: 40px;
}